.container_workexperience{
    background-color: rgba(17, 17, 17, 0.9);

    height:80vh;
    width: 100% !important;
    overflow: hidden;
}

.column_container{
    display:grid;
    grid-template-columns: 1.4fr 0.8fr;
    gap: 10px;
}

.column{
    padding: 1rem;
}

